.colorPrincipal{
    background-color:#1565C0 !important;
}


.colorTexto{
    color:#1565C0 !important;
}

.fondo {
    background-image: url('img/header-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1565C0;
}

.section {

    margin: 10px 5px;

}

.textoCentrado {
    text-align: center;
}

.colorBoton {
    background-color: #0b5ea1 !important;
}

.fotoPerfil {

    background-color: greenyellow


}

